

// SECTION
.module__section {

    @extend  .fuente_canela__thin__it;
    font-size: 1.7rem;
    line-height: 1em;
    padding-left: 9rem;
    position: relative;
    @media ( min-width: 768px ) { font-size: 2rem; }

    span {
        opacity: 0;
        transition: all .3s .3s;
    }

    &:before {
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        display: inline-block;
        width: 0;
        height: 1px;
        background: $color_white;
        transition: all .3s;
        transform: translateY(-50%);
    }

}

.animation {

    .module__section span {
        opacity: 1 !important;
    }

    .module__section:before {
        width: 53px !important;
    }

}