// Font Face

@font-face {
    font-family: 'ABC Arizona Flare';
    src: url('../font/ABCArizonaFlare-Light.woff2') format('woff2'),
        url('../font/ABCArizonaFlare-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../font/DMSans-Light.woff2') format('woff2'),
        url('../font/DMSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../font/DMSans-Medium.woff2') format('woff2'),
        url('../font/DMSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// Font config
$font_heading : 'ABC Arizona Flare', sans-serif  ;
$font_family :'DM Sans', sans-serif  ;